streamlit>=1.31.0
sqlalchemy>=2.0.0
python-dotenv>=1.0.0
groq>=0.8.0
psycopg[binary]>=3.1.0
psycopg2-binary
fastapi>=0.110.0
uvicorn>=0.27.0
pytest>=8.0.0
pytest-mock>=3.12.0
redis>=5.0.0
upstash-redis>=1.0.0
python-jose[cryptography]>=3.3.0
python-multipart>=0.0.9
passlib[bcrypt]>=1.7.4
bcrypt==4.0.1
firebase-functions>=0.1.0
firebase-admin>=6.0.0
a2wsgi>=1.7.0
